$mainColor: red;
$imgIcon :"../images/icon/";
$red : red;
$color-danger: $red;
.header_con {color: $mainColor;
  display: block; width: 530px;
  .gnb_box {float: left; color: #000; background: fixed;}
  .gnb {height: 80px;
    li {float: left;}
      &:first-child {margin-top: 0;}
      &:last-child {margin-right: 0;}
  }
  
}@at-root .quick_pc {
  ul {display: block;
    li {display: inline; color: $mainColor; background: url($imgIcon + "icon.png");}
    &:last-child {color: $mainColor;}
    &_name {border: 1px solid #ddd;}
    &:first-child {font-size: 15px; color: #000;}
  }
  

}


